body {
  background: #f9f7ff;
}
h1,
h2 {
  text-align: center;
}

a.internalLink {
  display: block;
  font-size: 18px;
  margin: 15px;
}

img {
  display: block;
  width: 200px;
  margin: 15px auto;
  border-radius: 5px;
}
footer {
  border-top: 1px solid black;
  padding: 10px;
  text-align: center;
  margin: 15px 30px 0;

  font-size: 12px;
}
.big-contact {
  font-size: 28px;
  margin-top: 10px;
  margin-left: 30px;
}
